@import 'nib'

ellipsis ()
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap

.clearfix:before, .clearfix:after
  content: ''
  display: table

.clearfix:after
  clear: both

.drag-layer
  display: none
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  background: rgba(0,0,0,0.5)
  body.drag &
    display: block

*, *:after, *:before
  box-sizing: border-box

html, body
  margin: 0px
  height: 100%
