extends layout

block body
  h1 instant.io
  h3 Drag-and-drop a file to begin seeding
  form
    label(for='infoHash') Download a file by info hash
    input(name='infoHash')
    button(type='submit') Download
  h3 Log
  .log
