extends layout

block body
  main
    h1 Instant.io - Streaming file transfer over WebTorrent
    p Download/upload files using the <a href="http://webtorrent.io" target="_blank">WebTorrent</a> protocol (BitTorrent over WebRTC). This is a beta.
    h2#logHeading(style='display: none') Log
    .speed
    .log

    h2 Start seeding
    p
      | Drag-and-drop a file (or files) to begin sharing. Or choose a file:
      | #{ ' ' }
      input(type='file', name='upload', multiple)

    h2 Start downloading
    form
      label(for='torrentId') Download from a magnet link or info hash
      input(name='torrentId', placeholder='magnet:')
      button(type='submit') Download

    footer
      p: small <a href="http://webtorrent.io" target="_blank">WebTorrent</a> is powered by JavaScript and WebRTC. Works in Chrome, Firefox, and Opera (desktop and Android).
      p: small Code is available on <a href="https://github.com/feross/instant.io" target="_blank">GitHub</a> under MIT License. Run <code>localStorage.debug = '*'</code> in the console and refresh to enable verbose logs.
