extends layout

block body
  h1 instant.io
  h3 Drag-and-drop a file (or files) to begin seeding
  form
    label(for='infoHash') Download a file by info hash
    input(name='infoHash')
    button(type='submit') Download
  .videos
  h3 Log
  .log

  footer
    p Run <code>localStorage.debug = '*'</code> in the console to get detailed log output.
    p Powered by <a href="http://webtorrent.io">WebTorrent</a>. Code available on <a href="https://github.com/feross/instant.io">GitHub</a>. MIT License.

