extends layout
block nav
  nav
    div
      span.e-glyph #[i.fa.fa-rocket] instant.#[span.u-color--primary-blue io]
      span.e-glyph.u-float--right <a href="https://github.com/feross/instant.io" target="_blank">#[i.fa.fa-github]</a>

block body
  main.u-font--lato.u-text-align--center.u-clear.u-margin-top--md
    section
      h1.u-font--thin.u-margin-bottom--lg Streaming file transfer over the webtorrent protocol#[sup.u-font--poiret.u-color--primary-blue beta]

      div.u-color--primary-gray
        span(style='font-size: 2em').e-glyph #[i.fa.fa-upload]
        h1.u-font--thin.u-margin--sm Drag and drop files here to start seeding

      div.file-upload.btn.btn-primary
        span Or Choose a File
        input.upload(type='file', name='upload')

      hr(style='width: 80%').u-margin--lg

      form.u-margin--sm
        label(for='torrentId') Download from a magnet link or info hash
        input.form-control(name='torrentId', placeholder='magnet:' required)
        button.btn.btn-primary(type='submit') Download

block footer
      h2#logHeading(style='display: none') Log
      .speed
      .log

  footer
    p: small cWebTorrent</a> is powered by JavaScript and WebRTC. Works in Chrome, Firefox, and Opera (desktop and Android).
    p: small Code is available on <a href="https://github.com/feross/instant.io" target="_blank">GitHub</a> under MIT License. Run <code>localStorage.debug = '*'</code> in the console and refresh to enable verbose logs.
