doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(http-equiv='Content-Security-Policy', content='upgrade-insecure-requests')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='search', href='/opensearch.xml', title='Instant.io', type='application/opensearchdescription+xml')
    link(rel='stylesheet', href='/main.css', charset='utf-8')

  body(class=locals.cls || '')
    block body
    script(src='/bundle.js')

    //- Google Analytics
    script.
      window.ga = window.ga || function () {
        (ga.q = ga.q || []).push(arguments)
      }
      ga.l = +new Date
      ga('create', 'UA-3898076-18', 'auto')
      ga('send', 'pageview')
    script(async, src='//www.google-analytics.com/analytics.js')
